@model IEnumerable<CategoryModel>
@{
    ViewData["Title"] = "Category List";
}
<h3>List san pham</h3>
<a class="btn btn-success btn-sm" asp-area- asp-action="Create" asp-controller="Category">Thêm</a>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Category Name</th>
            <th>Category Description</th>
            <th>Slug</th>
            <th>Status</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* <td scope="row">@item.id</td> *@
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@Html.Raw(item.Description)</td>
                <td>@item.Slug</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text-success">Hiển thị</span>
                    }else
                    {
                        <span class="text-danger">Ẩn</span>
                    }
                </td>
                <td><a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Category" asp-route-id="@item.Id">Sửa</a></td>
                <td><a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id">Xóa</a></td>
            </tr>
        }
    </tbody>
</table>